@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Ubuntu', Arial;
    margin: 0;
    border: 0;
    padding: 0;
}

:root{
    --color1: rgb(215, 220, 228);
    --color2: #BC0003;
    --color3: rgb(236, 236, 236);
}

header{
    width: 100vw;
    background-color: var(--color1);
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
    display: flex;
    align-items: center;
}
header a img{
    height: 100px;
}

.nav-container{
    width: 100vw;
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    gap: 4rem;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: var(--color2);
}

.nav-container li a{
    text-decoration: none;
    color: var(--color3);
}

.sub-menu ul{
    background-color: var(--color2);
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    list-style: none;
    display: none;
    position: absolute;
}

.sub-menu:hover .dropdown{
    display: block !important; 
}


main {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 1rem;
    gap: 3rem;
}

main h1{
    margin: auto;
}

main ol{
    display: flex;
    list-style: none;
}
main ol li{
    background-color: var(--color2);
    width: 200px;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;
}

footer {
    width: 100vw;
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: var(--color3);
}

fieldset{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid rgba(63, 62, 62, 0.297);
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    width: 40%;
    margin: auto;
    margin-top: 15px;
}

fieldset input{
    padding: 7px;
    border: 1px solid rgb(55, 55, 55);
    border-radius: 5px;
    outline: none;
    width: 100%;
    height: 40px;
}

fieldset input:focus{
    border: 1px solid rgb(36, 73, 96);
    box-shadow: 0px 0px 10px rgba(36, 73, 96, 0.189);
}

fieldset select{
    border: 1px solid  rgb(55, 55, 55);
    width: 100%;
    height: 40px;
    border-radius: 5px;
    outline: none;
}

fieldset select:focus{
    border: 1px solid rgb(36, 73, 96);
    box-shadow: 0px 0px 10px rgba(36, 73, 96, 0.189);
}

fieldset textarea{
    border-radius: 5px;
    border: 1px solid  rgb(55, 55, 55);
    width: 100%;
    outline: none;
    padding: 10px;
}

fieldset textarea:focus{
    border: 1px solid rgb(36, 73, 96);
    box-shadow: 0px 0px 10px rgba(36, 73, 96, 0.189);
}

fieldset .btn_enviar{
    width: 20%;
    height: 40px;
    margin: auto;
    border: none;
    background-color: #2e962d;
    color: #fff;
    font-weight: 600px;
    font-size: 18px;
    cursor: pointer;
}

fieldset .btn_limpar{
    width: 20%;
    height: 40px;
    margin: auto;
    margin-top: 10px;
    background-color: #dabb08;
    color: #000;
    font-weight: 600px;
    font-size: 18px;
    cursor: pointer;
    border: none;
}

.required::after{
    content: ' *';
    color: red;
}