@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    font-family: 'Poppins', sans-serif;
    color: #141414;
    margin: 0;
    padding: 0;
    transition: 0.1s;
}

body {
    background-color: #f8f8f8;
}


.acessibilidade {
    display: flex;
    justify-content: space-between;
    height: 25px;
    padding: 0px 10px 0px 10px;
}

.acessibilidade ul {
    display: flex;
    width: 450px;
    justify-content: space-between;
}

.acessibilidade ul li {
    list-style: none;
}

.acessibilidade ul li a {
    font-size: 14px;
    color: #141414;
    text-decoration: none;
}


header {
    display: flex;
    background-color: #bc00031f;
    height: 110px;
}

header .img {
    display: flex;
    align-items: center;
    width: 150px;
    margin-left: 40px;
}

header .img img {
    width: 100%;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #6A0507;
}

.nav ul {
    display: flex;
    justify-content: center;
    width: 90%;
}

.nav ul li {
    display: flex;
    align-items: center;
    width: 15%;
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    width: 120px;
    height: 25px;
    padding: 5px;
    text-align: center;
}

.nav ul li a:hover {
    font-weight: 600;
    transition: 0.1s;
    color: #ebc3c8;
}

.nav .dropdown {
    position: absolute;
    display: none;
    width: 200px;
    margin-top: 105px;
    margin-left: 20px;
    background-color: #6A0507;

}

.nav .dropdown li {
    width: 100%;
}

.nav li:hover .dropdown {
    display: block;
}

.nav .dropdown li a {
    width: 100%;

}

/* Main */

.main {
    width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .h1 {
    color: #141414;
    width: 100%;
    text-align: center;
    margin-top: 70px;
}

.main .h2 {
    color: #141414;
    font-weight: 600;
}

.ol {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.ol li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24%;
    height: 140px;
    text-align: center;
    list-style: none;
    border: 1px solid #1414141e;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

.ol li:hover {
    box-shadow: 0px 0px 10px #1414141e;
}

.video {
    margin-top: 20px;
    width: 500px;
}

.footer {
    position: absolute;
    width: 100%;
    height: 25px;
    bottom: 0;
    background-color: #2c0000;
}

.footer p {
    font-weight: 300;
    font-size: 15px;
    color: #f8f8f8;
    margin-left: 5px;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid rgba(63, 62, 62, 0.297);
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    width: 50%;
    margin: auto;
    margin-top: 15px;
    background-color: #fff;
}

fieldset input {
    padding: 7px;
    border: 1px solid rgb(55, 55, 55);
    border-radius: 5px;
    outline: none;
    width: 95%;
    height: 35px;
}

fieldset input:focus {
    border: 1px solid rgb(36, 73, 96);
    box-shadow: 0px 0px 10px rgba(36, 73, 96, 0.189);
}

fieldset select {
    border: 1px solid rgb(55, 55, 55);
    width: 98%;
    height: 40px;
    border-radius: 5px;
    outline: none;
}

fieldset select:focus {
    border: 1px solid rgb(36, 73, 96);
    box-shadow: 0px 0px 10px rgba(36, 73, 96, 0.189);
}

fieldset textarea {
    border-radius: 5px;
    border: 1px solid rgb(55, 55, 55);
    width: 95%;
    outline: none;
    padding: 10px;
}

fieldset textarea:focus {
    border: 1px solid rgb(36, 73, 96);
    box-shadow: 0px 0px 10px rgba(36, 73, 96, 0.189);
}

fieldset .btn_enviar {
    width: 20%;
    height: 40px;
    margin: auto;
    border: none;
    background-color: #2e962d;
    color: #fff;
    font-weight: 600px;
    font-size: 18px;
    cursor: pointer;
}

fieldset .btn_limpar {
    width: 20%;
    height: 40px;
    margin: auto;
    margin-top: 10px;
    background-color: #dabb08;
    color: #000;
    font-weight: 600px;
    font-size: 18px;
    cursor: pointer;
    border: none;
}

.required::after {
    content: ' *';
    color: red;
}

form {
    width: 100%;
}

.main section p {
    font-size: 17px;
    margin-top: 20px;
}

.main section .p {
    font-weight: 600;
}